<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @list.version %>
</p>

<p>
  <strong>Translation:</strong>
  <%= @list.translation %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
