<p id="notice"><%= notice %></p>

<p>
  <strong>Aception own:</strong>
  <%= @translation.aception_own %>
</p>

<p>
  <strong>Aception for:</strong>
  <%= @translation.aception_for %>
</p>

<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
