<p id="notice"><%= notice %></p>

<p>
  <strong>Sequencial:</strong>
  <%= @aception.sequencial %>
</p>

<p>
  <strong>Name:</strong>
  <%= @aception.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @aception.description %>
</p>

<p>
  <strong>Word:</strong>
  <%= @aception.word %>
</p>

<%= link_to 'Edit', edit_aception_path(@aception) %> |
<%= link_to 'Back', aceptions_path %>
