<p id="notice"><%= notice %></p>

<p>
  <strong>Translations versions:</strong>
  <%= @translations_versions_test.translations_versions %>
</p>

<p>
  <strong>Test:</strong>
  <%= @translations_versions_test.test %>
</p>

<%= link_to 'Edit', edit_translations_versions_test_path(@translations_versions_test) %> |
<%= link_to 'Back', translations_versions_tests_path %>
