<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dictionary.title %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @dictionary.difficulty %>
</p>

<p>
  <strong>Access:</strong>
  <%= @dictionary.access %>
</p>

<p>
  <strong>User:</strong>
  <%= @dictionary.user.name %>
</p>

<p>
  <strong>Language own:</strong>
  <%= @dictionary.language_own.name %>
</p>

<p>
  <strong>Language for:</strong>
  <%= @dictionary.language_for.name %>
</p>

<%= link_to 'Edit', edit_dictionary_path(@dictionary) %> |
<%= link_to 'Back', dictionaries_path %>
