<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label @answer.translation.aception_own.word.name %> 
    (<%= f.label @answer.translation.aception_own.name %>)<br>
  </div>
  <div class="field">
    <%= f.label 'La traducción correcta es:' %><br>
    <%= f.text_field :ans %>
  </div>
  
  <div class="actions">
    <%= f.submit "Enviar traducción" %>
  </div>
<% end %>
